.alpha {
  background-image: url(#{$assets-images-path}stylised-bible-page.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100%;

  .logo-wrapper {
    left: 50.6%;
    margin: -97px 0 0 -260px;
    position: absolute;
    top: 45%;
    width: 520px;

    @include media($tablet-portrait) {
      margin: -85px 0 0 -226px;
      width: 452px;
    }

    @include media($phone-landscape) {
      margin: -65px 0 0 -170px;
      width: 340px;
    }

    @include media($phone-portrait) {
      margin: -65px 0 0 -40%;
      width: 80%;
    }
  }

  .svg-logo {
    height: 70%;
    width: 100%;
  }

  .scroll {
    bottom: 2em;
    left: 0;
    margin-top: 0;
    position: absolute;
    width: 100%;

    @include media($phone-landscape) {
      bottom: 1em;

      i {
        font-size: 1.5em;
      }
    }
  }
}
