.bulk-purchase-form {
  background-color: $white;
  border-radius: $base-border-radius;
  padding: 2em;
  width: em(600);

  @include media($tablet-portrait) {
    padding: 1em;
    width: 100%;

    p { font-size: 0.9em; }
  }

  fieldset {
    margin-bottom: 2em;
  }

  .books-form-row {
    @include outer-container;
    margin-bottom: 0.4em;

    .volume-label,
    .copies-label {
      display: inline;
      float: left;
      font-weight: 300;
      margin-right: 1em;
      padding-top: 0.3em;

    }

    .volume-label {
      min-width: 100px;

      @include media($phone-portrait) {
        min-width: 80px;
      }
    }

    input {
      display: inline;
      float: left;
      font-size: 0.8em;
      margin-right: 0.5em;
      width: 60px;

      @include media($phone-portrait) {
        width: 40px;
      }
    }
  }

  .address-row {
    @include outer-container;


    .city {
      @include span-columns(6);

      @include media($phone-portrait) {
        width: 100%;
      }
    }

    .state {
      @include span-columns(3);

      @include media($phone-portrait) {
        width: 100%;
      }
    }

    .zip {
      @include span-columns(3);

      @include media($phone-portrait) {
        width: 100%;
      }
    }
  }
}
