.call-to-action {
  $hero-background-top: $primary-blue;
  $hero-background-bottom: $dark-gray;
  $hero-color: $white;
  $gradient-angle: 10deg;
  $hero-image: "#{$assets-images-path}stylised-bible-color.jpg";

  background: url($hero-image),
              linear-gradient($gradient-angle,
              $hero-background-bottom, $hero-background-top),
              no-repeat $hero-background-top scroll;
  background-color: $hero-default-background;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 5em;
    text-align: center;

    @include media($tablet-portrait) {
      padding: 3em;
    }

    @include media($tablet-small) {
      padding: 3em 1em;
    }

    .hero-copy {
      text-align: center;

      h3 {
        color: $white;
        margin-bottom: 0;

        @include media($tablet-small) {
          font-size: 1.5em;
        }

        @include media($phone-portrait) {
          font-size: 1.2em;
        }
      }

      .line-break {
        display: none;

        @include media($phone-portrait) {
          display: block;
        }
      }

      p {
        color: $white;
        margin-bottom: 2.5em;

        @include media($tablet-small) {
          font-size: 0.9em;
        }

        @include media($phone-portrait) {
          font-size: 0.7em;
        }
      }
    }

    button {
      background: none;
      border: 1px solid $white;
      color: $white;
      font-size: 1.2em;
      margin: 0 0.5em;
      padding: 0.60em 0 0.75em;
      width: 250px;

      @include media($tablet-portrait) {
        font-size: 1em;
      }

      @include media($phone-landscape) {
        width: 40%;
      }

      @include media($phone-portrait) {
        font-size: 0.8em;
      }

      &:hover,
      &:focus {
        background-color: shade($white, 50%);
      }
    }
  }
}
