.contact-form {
  background-color: $white;
  border-radius: $base-border-radius;
  padding: 2em;
  width: em(500);

  @include media($tablet-portrait) {
    width: 100%;
  }

  @include media($phone-landscape) {
    padding: 1em;
  }
}
