.downloads {
  .page-content {
    padding: 3em 2em 1em;
  }
}

.download-segment {
  @include span-columns(8);
  background-color: $white;
  border-radius: $base-border-radius;
  margin-bottom: 1em;
  padding: 2em;

  @include media($phone-landscape) {
    padding: 1em;
    width: 100%;
  }

  h4 {
    margin-bottom: 0.3em;
  }

  ul li {
    margin-bottom: 0.6em;

    a {
      border-bottom: 1px solid $action-color;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }

  i {
    line-height: 1.4em;
  }

  .fa-file-pdf-o {
    color: $primary-red;
  }

  .fa-file-word-o {
    color: $ms-word-blue;
  }

  .back-to-top {
    float: right;
    font-size: 80%;
  }
}
