.lessons {

  .page-content {
    @include outer-container;
    padding: 2em;
  }
}

.volume {
  $volume-gutter: 2em;
  $volume-image-padding: 0.7em;
  $volume-image-width: 8em;
  $volume-color: $base-font-color;
  $volume-background: lighten($action-color, 15%);
  $volume-detail-color: transparentize($volume-color, 0.5);
  $volume-image-vert-alignment: top;

  border-bottom: 1px solid transparentize($volume-color, 0.9);
  display: table;
  margin-bottom: 3em;
  padding-bottom: 3em;
  width: 100%;

  .volume-image,
  .volume-content {
    display: table-cell;
    vertical-align: $volume-image-vert-alignment;
  }

  .volume-image {
    padding-right: $volume-gutter;

    > img {
      // background: $volume-background;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      // padding: $volume-image-padding;
      width: $volume-image-width;
      box-shadow: 0 2px 4px darken($light-gray, 10%);
    }

    .volume-reverse-order & {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .volume-content {
    width: 100%;

    h1 {
      font-size: 1.4em;
      margin: 0 0 0.5em 0;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.volume-detail {
      color: $volume-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }

    ul {
      list-style-type: disc;
      margin-top: 1em;
      padding-left: 1em;

      li {
        margin-bottom: 0.5em;
      }
    }

    a {
      border-bottom: 1px solid $primary-blue;

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }
}




