.page-content {
  p > a {
    border-bottom: 1px solid $action-color;
    text-decoration: none;

    &:focus,
    &:hover {
      border-bottom: 0;
    }
  }
}

.product-blocks {
  @include outer-container;

  .block {
    @include span-columns(4 of 12);
    @include omega(3n);
    border: 1px solid $subtle-gray;
    border-radius: $base-border-radius;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;

    @include media($tablet-portrait) {
      @include span-columns(4 of 8);
      @include omega-reset(3n, 8);
      @include omega(2n);
    }

    @include media($phone-portrait) {
      width: 100%;
    }

    img {
      border-radius: 2px;
      box-shadow: 0 2px 4px darken($light-gray, 10%);
      margin-bottom: 0.5em;
      width: 90px;
    }

    h5 {
      color: $medium-gray;
      font-size: 91%;
      margin-bottom: 1em;
      text-transform: none;
    }

    button {
      font-size: 0.8em;
    }
  }
}

.complete-set {
  border: 1px solid $subtle-gray;
  border-radius: $base-border-radius;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;

  .complete-set-inner {
    @include outer-container;
  }

  .block {
    @include span-columns(2);

    img {
      border-radius: 2px;
      box-shadow: 0 2px 4px darken($light-gray, 10%);
      margin-bottom: 0.5em;
      width: 90px;
    }
  }

  h5 {
    color: $medium-gray;
    font-size: 90%;
    margin-bottom: 1em;
    text-transform: none;
  }

  button {
    font-size: 0.8em;
  }
}
