.talking-points {
  padding-top: 5em;
  background-color: $white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid $subtle-gray;

  .tp-blocks {
    @include outer-container;
  }

  .block {
    @include span-columns(4 of 12);
    @include omega(3n);
    text-align: center;
    padding: 0 1.8em;
    margin-bottom: 4em;

    @include media($tablet-mid) {
      p {
        font-size: 0.8em;
      }

      h4 {
        font-size: 1.1em;
      }
    }

    h4 {
      text-transform: none;
    }

    @include media($tablet-small) {
      @include span-columns(4 of 8);
      @include omega-reset(3n, 8);
      @include omega(2n);
    }

    @include media($phone-landscape) {
      padding: 0 1em;

      h4 {
        font-size: 1em;
      }
    }

    @include media($phone-portrait) {
      padding: 0 1.4em;
      width: 100%;
    }

    img {
      border: 1px solid $base-border-color;
      border-radius: 50%;
      margin-bottom: 1em;
      width: 200px;
    }
  }
}
