.thanks,
.purchase_thanks {
  .page-content {
    padding: 6em 2em;
    text-align: center;

    @include media($phone-landscape) {
      padding: 3.2em 1em 1.7em;
    }

    h1 {
      color: $action-color;
      padding-bottom: 0.5em;
    }
  }
}
