.training-hero {
  $hero-background-top: #0d47a1;
  $hero-background-bottom: #1c2520;
  $hero-color: $white;
  $gradient-angle: 10deg;
  $hero-image: "#{$assets-images-path}coach-desk.png";

  background: url($hero-image),
  linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top),
  no-repeat $hero-background-top scroll;
  background-color: $hero-default-background;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  position: relative;

  @include media($tablet-portrait) {
    padding: 0;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 8em 2em 4em;
    text-align: center;

    @include media($tablet-portrait) {
      padding: 4em 2em 2.3em;
    }

    @include media($phone-portrait) {
      padding: 3em 2em 2em;
    }

    .hero-copy {
      text-align: center;

      h1 {
        border-bottom: 0;
        color: $hero-color;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 3.5em;
        }

        @include media($tablet-portrait) {
          font-size: 2.4em;
        }

        @include media($phone-portrait) {
          font-size: 1.4em;
        }
      }
    }
  }
}

.training-intro-wrapper {
  background-color: $white;
  background-size: cover;
  border-bottom: 1px solid $subtle-gray;

  @include media($phone-landscape) {
    p,
    li,
    blockquote {
      font-size: 0.9em;
    }
  }

  @include media($phone-portrait) {
    border-bottom: 0;
  }

  p > a,
  li > a {
    border-bottom: 1px solid $action-color;
    text-decoration: none;

    &:focus,
    &:hover {
      border-bottom: 0;
    }
  }
}

.training-intro {
  @include outer-container;
  padding: 4em 2em;
  width: em(600);

  @include media($tablet-portrait) {
    padding: 2em 3em;
    width: 100%;
  }

  @include media($phone-landscape) {
    padding: 1em;
    width: 100%;
  }

  @include media($phone-portrait) {
    padding: 1em;
    width: 100%;
  }

  .training-title {
    position: relative;
    text-align: left;

    @include media($tablet-portrait) {
      width: 100%;

      h2 {
        font-size: 1.7em;
      }
    }

    @include media($phone-portrait) {
      h2 {
        font-size: 1.1em;
      }
    }

    h2 { margin: 0 0 0.3em; }
  }

  .training-copy {
    margin-bottom: 3em;
    text-align: left;

    @include media($tablet-portrait) {
      margin-bottom: 2em;
      width: 100%;
    }

    ul {
      margin-left: 2em;

      @include media($phone-portrait) {
        margin-left: 1.5em;
      }

      li {
        padding-bottom: 0.4em;
      }

      i {
        color: $action-color;
        line-height: 1.2em;

        @include media($phone-landscape) {
          line-height: 1.3em;
        }
      }
    }

    .quote {
      font-style: italic;
      font-weight: 300;
      position: relative;

      cite {
        color: transparentize($base-font-color, 0.5);
        display: block;
        font-size: 0.9em;
        margin-bottom: 1em;

        @include media($phone-landscape) {
          font-size: 0.7em;
        }
      }
    }

    .quote::before {
      color: $light-gray;
      content: "\201C";
      display: block;
      font-family: $heading-font-family;
      font-size: 110px;
      font-style: italic;
      font-weight: normal;
      left: -60px;
      position: absolute;
      top: -30px;

      @include media($phone-landscape) {
        font-size: 100px;
        left: -55px;
        top: -25px;
      }
    }

  }

  .callout-box {
    margin-bottom: 3em;

    @include media($tablet-portrait) {
      width: 100%;
    }
  }

  .bftv {
    @include media($phone-portrait) {
      h2 { text-align: center; }
    }

    .link-target {
      position: absolute;
      top: -100px;

      @include media($phone-landscape) {
        top: -70px;
      }
    }
  }

  .video-sample {
    @include span-columns(4 of 12);
    padding-top: 0.25em;

    @include media($tablet-portrait) {
      @include span-columns(3 of 8);
    }

    @include media($phone-portrait) {
      padding: 1em 3em;
      width: 100%;
    }

    img {
      border-radius: $base-border-radius;
      box-shadow: 0 2px 4px darken($light-gray, 10%);
    }
  }

  .video-intro {
    @include span-columns(8 of 12);

    @include media($tablet-portrait) {
      @include span-columns(5 of 8);
    }

    @include media($phone-portrait) {
      width: 100%;
    }
  }
}

.training-videos {
  @include outer-container;

  background-color: $white;
  padding: 2em;
  position: relative;
  width: em(400);

  @include media($phone-landscape) {
    width: em(320);

    li {
      font-size: 0.95em;
    }
  }

  @include media($phone-portrait) {
    padding: 1em;
    width: 100%;
  }

  .link-target {
    position: absolute;
    top: -60px;

    @include media($phone-landscape) {
      top: -50px;
    }
  }

  .scroll {
    float: right;
    font-size: 80%;
  }

  h5 {
    color: $primary-blue;
  }

  hr {
    margin-top: 0;
  }
}

.video-part {
  h4 {
    margin-bottom: 0.3em;

    @include media($phone-landscape) {
      font-size: 1em;
    }
  }

  ul {
    margin-bottom: 2em;
  }

  li {
    margin-bottom: 0.2em;

    a {
      border-bottom: 1px solid $action-color;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }

  i {
    color: $action-color;
    line-height: 1.3em;
  }
}
