.universal-footer {
  $footer-background: desaturate(darken($action-color, 10%), 30%);
  $footer-color: $white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-content {
    @include outer-container;
  }

  .footer-links-left {
    @include span-columns(2);
    @include shift(2);
  }

  .footer-links-right {
    @include span-columns(2);
  }

  .footer-logo {
    @include span-columns(4);
    padding: 0 2em;

    .logo {
      height: 70%;
      width: 100%;
    }
  }

  ul {
    @include flex-basis(11em);
    @include flex-shrink(0);
    margin-bottom: $base-spacing;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: left;

    a {
      color: $footer-link-color;
      text-decoration: none;

      &:focus,
      &:hover {
        color: transparentize($footer-color, 0);
      }
    }

    h3 {
      color: $footer-color;
      font-size: 1em;
      font-weight: 400;
      margin-bottom: 0.4em;
    }
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 2em auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;

    a {
      border-bottom: 1px solid $footer-disclaimer-color;
      color: inherit;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }
}
