.training_videos {

  .page-content {
    padding: 1em;

    h3 { margin-bottom: 0; }
  }

  .movie-hero {
    background-color: #000;
    width: 100%;
    opacity: 0.98;
  }

  .video {
    @include outer-container;
    max-width: 900px;

    @include media($large-screen) {
      padding: 0 4em;
    }
  }

  .video-wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    position: relative;

    embed,
    object,
    iframe {
      @include position(absolute, 0 null null 0);
      @include size(100%);
    }
  }
}

