- current_page.data.title = render_lesson_title_for("lesson4")

.page-content
  - lesson = data.lessons.lesson4
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
