- current_page.data.title = data.lessons.lesson12.title

.page-content
  - lesson = data.lessons.lesson12
  = partial "partials/lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson12-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson12"
