- current_page.data.title = render_lesson_title_for("lesson19")

.page-content
  - lesson = data.lessons.lesson19
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
