- current_page.data.title = data.lesson_titles.lesson7

.page-content
  - lesson = data.lessons.lesson7
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
