- current_page.data.title = data.lesson_titles.lesson14

.page-content
  - lesson = data.lessons.lesson14
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
