- current_page.data.title = data.lesson_titles.lesson19

.page-content
  - lesson = data.lessons.lesson19
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
