- current_page.data.title = data.lessons.lesson7.title

.page-content
  - lesson = data.lessons.lesson7
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson7-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson7"
