- current_page.data.title = data.lesson_titles.lesson9

.page-content
  - lesson = data.lessons.lesson9
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
