- current_page.data.title = data.lessons.lesson3.title

.page-content
  - lesson = data.lessons.lesson3
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson3-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson3"
