- current_page.data.title = data.lessons.lesson2.title

.page-content
  - lesson = data.lessons.lesson2
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson2-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson2"
