- current_page.data.title = data.lesson_titles.lesson15

.page-content
  - lesson = data.lessons.lesson15
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
