- current_page.data.title = data.lessons.lesson9.title

.page-content
  - lesson = data.lessons.lesson9
  = partial "partials/lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson9-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson9"
