- current_page.data.title = data.lessons.lesson20.title

.page-content
  - lesson = data.lessons.lesson20
  = partial "partials/lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson20-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson20"
