- current_page.data.title = data.lesson_titles.lesson13

.page-content
  - lesson = data.lessons.lesson13
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
