- current_page.data.title = data.lesson_titles.lesson8

.page-content
  - lesson = data.lessons.lesson8
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
