- current_page.data.title = data.lessons.lesson11.title

.page-content
  - lesson = data.lessons.lesson11
  = partial "partials/lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson11-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson11"
