- current_page.data.title = data.lesson_titles.lesson16

.page-content
  - lesson = data.lessons.lesson16
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
