- current_page.data.title = data.lessons.lesson14.title

.page-content
  - lesson = data.lessons.lesson14
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson14-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson14"
