- current_page.data.title = data.lesson_titles.lesson3

.page-content
  - lesson = data.lessons.lesson3
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
