- current_page.data.title = data.lesson_titles.lesson12

.page-content
  - lesson = data.lessons.lesson12
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
