- current_page.data.title = data.lessons.lesson13.title

.page-content
  - lesson = data.lessons.lesson13
  = partial "partials/lesson-breadcrumbs", locals: { lesson: lesson }

  %section.lessonx
    %aside.lessonx-image
      = image_tag "lesson13-500w.jpg"
    %article.lessonx-content
      = partial "markdown/lesson13"
