- current_page.data.title = data.lesson_titles.lesson2

.page-content
  - lesson = data.lessons.lesson2
  = partial "lesson-breadcrumbs", locals: { lesson: lesson }
  = partial "lesson", locals: { lesson: lesson }
