@charset "utf-8";
@import "vendor/normalize";

// http://bourbon.io
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// Partials




//////////////////////// SANDBOX ////////////////////////
//// Try out new code here, then extract to partial. ////
/////////////////////////////////////////////////////////

section.alpha {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 5em;
  background-image: url(#{$assets-images-path}stylised-bible-page.png);
  background-position: center center;
  background-size: cover;

  .svg-logo {
    width: 50%;
  }
}
