@charset "utf-8";
@import "vendor/normalize";
@import "vendor/animate";

// http://bourbon.io
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// Partials
@import "partials/alpha";
@import "partials/nav-transparent";
@import "partials/nav";
@import "partials/copyright-footer";
@import "partials/universal-footer";



//////////////////////// SANDBOX ////////////////////////
//// Try out new code here, then extract to partial. ////
/////////////////////////////////////////////////////////


.beta {
  background-color: $white;
  padding: 5em;
  text-align: center;
}

.gamma {
  padding: 5em;
  background-color: $primary-blue-light;
  text-align: center;
}

#content-wrapper {
  padding-top: 69px;
  background-color: $base-background-color;

  @include media ($phone-landscape) {
    padding-top: 54px;
  }
}
