@charset "utf-8";
@import "vendor/normalize";
@import "vendor/animate";

// http://bourbon.io
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// Partials
@import "partials/alpha";
@import "partials/nav-transparent";
@import "partials/copyright-footer";
@import "partials/universal-footer";



//////////////////////// SANDBOX ////////////////////////
//// Try out new code here, then extract to partial. ////
/////////////////////////////////////////////////////////


.beta {
  padding: 5em;
  background-color: $white;
  text-align: center;
}

.gamma {
  padding: 5em;
  background-color: $primary-blue-light;
  text-align: center;
}
