- current_page.data.title = data.training_videos["part-2"]["video-4"].title

- video = { part: "part-2", number: "video-4" }

= partial "partials/video-player", locals: { video: video }
= partial "partials/video-meta", locals: { video: video }
