- current_page.data.title = data.training_videos["part-2"]["video-9"].title

- video = { part: "part-2", number: "video-9" }

= partial "video-player", locals: { video: video }
= partial "video-meta", locals: { video: video }
