.breadcrumbs {
  margin-bottom: 2em;

  li {
    color: $medium-gray;
    display: inline;
    font-size: 0.6em;
    text-transform: uppercase;

    a {
      border-bottom: 1px solid $primary-blue;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }

  li:not(:last-child)::after {
    color: $base-border-color;
    content: "/";
    margin: 0 0.6em 0 1.1em;
    position: relative;
  }
}

.next-link {
  float: right;

  a {
    border-bottom: 1px solid $primary-blue;
    font-size: 0.6em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;

    &:focus,
    &:hover {
      border-bottom: 0;
    }
  }
}
