.contact-form {
  background-color: $white;
  border-radius: $base-border-radius;
  padding: 2em;
  width: 31.25em;

  @include media($tablet-portrait) {
    width: 100%;
  }

  @include media($phone-landscape) {
    padding: 1em;
  }
}

#my-form-status {
  margin-top: 0.75em;
}
