.volume {
  $volume-gutter: 2em;
  $volume-image-padding: 0.7em;
  $volume-image-width: 8em;
  $volume-color: $base-font-color;
  $volume-background: lighten($action-color, 15%);
  $volume-detail-color: transparentize($volume-color, 0.5);
  $volume-image-vert-alignment: top;

  border-bottom: 1px solid transparentize($volume-color, 0.9);
  display: table;
  margin-bottom: 3em;
  padding-bottom: 2.7em;
  width: 100%;

  @include media($phone-landscape) {
    margin-bottom: 2em;
    padding-bottom: 1.7em;
  }

  &:last-child {
    border: 0;
    padding-bottom: 0;
  }

  .volume-image,
  .volume-content {
    display: table-cell;
    vertical-align: $volume-image-vert-alignment;
  }

  .volume-image {
    padding-right: $volume-gutter;

    @include media($phone-portrait) {
      padding-right: 1em;
    }

    > img {
      @include size($volume-image-width, auto);
      border-radius: $base-border-radius;
      box-shadow: 0 2px 4px darken($light-gray, 10%);
      display: block;
      max-width: none;

      @include media($phone-landscape) {
        @include size(5em, auto);
        border-radius: 3px;
      }

      @include media($phone-portrait) {
        @include size(3em, auto);
        border-radius: 2px;
      }
    }

    .volume-reverse-order & {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .volume-content {
    width: 100%;

    @include media($phone-portrait) {
      h4 {
        font-size: 1em;
      }
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    .volume-detail {
      color: $volume-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }

    ul {
      list-style-type: disc;
      margin-top: 1em;
      padding-left: 1.5em;

      li {
        margin-bottom: 0.5em;
      }
    }

    a {
      border-bottom: 1px solid $primary-blue;

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }
}
