.progress-bar {
  margin-bottom: $base-spacing;

  &:last-of-type {
    margin-bottom: 0;
  }

  h5 {
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.progress-bar__container {
  background: darken($subtle-gray, 5%);
  height: 30px;
  margin-top: 10px;
  padding: 3px;
  width: 100%;

  .progress-bar__wrap {
    height: 100%;
    position: relative;

    .progress-bar__inner {
      animation: 3s progress-bar;
      background: $primary-blue;
      color: $white;
      font-size: 0.75em;
      height: 100%;
      line-height: 1.6;
      padding-left: 5px;
      position: absolute;
      width: 100%;
    }
  }
}

@keyframes progress-bar {
  from {width: 0%; }
  to {width: 100%;}
}

.translation-status-notes {
  margin-top: $base-spacing;

  p {
    font-size: $base-font-size / 1.7;
  }
}
