.progress {
  width: 100%;
  height: 30px;
  background: #ddd;
  padding: 3px;
  margin: 10px 0px 20px 0px;

  .progress-wrap {
    position: relative;
    height: 100%;

    .progress-bar {
      position: absolute;
      background: $primary-blue;
      height: 100%;
      width: 100%;
      line-height: 24px;
      padding-left: 5px;
      color: #fff;
      animation: 3s progress-bar;
    }
  }
}
@keyframes progress-bar {
  from {width: 0%; }
  to {width: 100%;}
}