%section.progress-bar
  %h5= language.name
  .progress-bar__container
    .progress-bar__wrap{ style: "width: #{percentage_of(language.lessons.total, language.lessons.complete)};" }
      .progress-bar__bar
        = percentage_of(language.lessons.total, language.lessons.complete)