%section.training-videos
  %h5 Bible First Training Videos
  %hr

  - part = data.part_titles[6]
  = partial "video-part-breadcrumbs", locals: { part: part }
  = partial "video-part", locals: { part: part }
