- current_page.data.title = data.part_titles[0].title

%section.training-videos
  %h5 Bible First Training Videos
  %hr

  - part = data.part_titles[0]
  = partial "partials/video-part-breadcrumbs", locals: { part: part }
  = partial "partials/video-part", locals: { part: part }
