- current_page.data.title = data.training_videos["part-7"]["video-3"].title

- video = { part: "part-7", number: "video-3" }

= partial "partials/video-player", locals: { video: video }
= partial "partials/video-meta", locals: { video: video }
