- current_page.data.title = data.training_videos["part-3"]["video-5"].title

- video = { part: "part-3", number: "video-5" }

= partial "video-player", locals: { video: video }
= partial "video-meta", locals: { video: video }
