- current_page.data.title = data.training_videos["part-6"]["video-2"].title

- video = { part: "part-6", number: "video-2" }

= partial "partials/video-player", locals: { video: video }
= partial "partials/video-meta", locals: { video: video }
