.books-form-row
  %label.volume-label Volume #{volume.number}:
  %input{ name: "volume_#{volume.number}_quantity", type: "number",
        placeholder: "0",  max: "999" }
  %label.copies-label copies
