%header{ class: "navigation#{add_visible_class}", role: "banner" }
  .navigation-wrapper
    = link_to home_smart_path(current_page.path), class: "logo back-to-top" do
      = inline_svg "bible-first-logo-mini.svg", class: "svg-logo"
    %a.navigation-menu-button#js-mobile-menu{ href: "javascript:void(0)" }
      %i.fa.fa-bars
    %nav{ role: "navigation" }
      %ul.navigation-menu.show#js-navigation-menu
        = partial "nav-links"
