---
title: Contact
---

.page-content
  %h1 Contact
  %p
    Need to get in touch? Drop us a line!
    We'll do our best to answer you quickly.

  .contact-form
    %form{ action: "https://formspree.io/f/maylleoq", method: "POST" }
      %input{ name: "full_name", type: "text", required: "",
              placeholder: "Name", maxlength: "100" }
      %input{ name: "_replyto", type: "email", required: "",
              placeholder: "Email", maxlength: "100" }
      %textarea{ name: "message", cols: "30", rows: "10", required: "",
              placeholder: "Your message", maxlength: "3000" }
      %input{ name: "_subject", type: "hidden",
              value: "[getbiblefirst.com] New Contact Request" }
      %input{ name: "_next", type: "hidden",
              value: "#{data.site.url}/contact/thanks/" }
      %input{ name: "_gotcha", style: "display:none", type: "text" }
      %input{ name: "_format", style: "display:none", type: "text",
              value: "plain" }
      %input{ type: "submit", value: "Send" }
