---
layout: home
---

%section.nav-transparent{ role: "banner" }
  .navigation-wrapper
    = link_to "/", class: "logo" do
      = inline_svg "logo-mini-blue.svg", class: "svg-logo"
    %a#js-mobile-menu-tra.navigation-menu-button{href: "javascript:void(0)"}
      %i.fa.fa-bars
    %nav{ role: "navigation" }
      %ul#js-navigation-menu-tra.navigation-menu.show
        = partial "nav-links"

%section.alpha
  .logo-wrapper
    = inline_svg "logo-full.svg", class: "svg-logo"

  %a.scroll.scroll-on-page-link{ href: "#earthscape-link" }
    %i.fa.fa-chevron-down.fa-2x.animated

%section.earthscape-hero#earthscape-link
  .hero-inner
    .hero-copy
      %h1 God's Word is the most powerful evangelistic force on Earth.
