---
title: The Lessons
---

.page-content
  %h2 The Lessons
  %p Bible First consists of 20 individual lessons grouped into 6 volumes. Below is an overview of the material covered in each volume. Click on individual lesson titles to view more detail.

  - data.volumes.each do |volume|
    = partial "volume", locals: { volume: volume }
