---
title: Training
---

%section.training-hero
  .hero-inner
    .hero-copy
      %h1 You can be a Bible First coach.

%section.training-videos
  - data.part_titles.each do |part|
    = partial "video-part", locals: { part: part }
