---
title: Translations
---

.page-content
  %h1 Translations
  %p
    We are very excited about the ongoing translation of Bible First into various languages. Below is an overview of the languages currently being translated.
  %h6 Ukranian (Revision)
  .progress
    .progress-wrap{ style: "width: 15%;" }
      .progress-bar
        15%
  %h6 Spanish
  .progress
    .progress-wrap{ style: "width: 90%;" }
      .progress-bar
        90%
  %h6 Russian
  .progress
    .progress-wrap{ style: "width: 45%;" }
      .progress-bar
        45%
