---
title: Translations
---

.page-content
  %h1 Translations
  %p
    We are very excited about the ongoing translation of Bible First into
    various languages. Below is a progress overview of the languages currently
    being translated.

  - data.languages.each do |language|
    = partial "partials/progress-bar", locals: { language: language }
