- current_page.data.title = data.training_videos["part-5"]["video-2"].title

- video = { part: "part-5", number: "video-2" }

= partial "video-player", locals: { video: video }
= partial "video-meta", locals: { video: video }
