- current_page.data.title = data.training_videos["part-5"]["video-1"].title

- video = { part: "part-5", number: "video-1" }

= partial "partials/video-player", locals: { video: video }
= partial "partials/video-meta", locals: { video: video }
